@font-face {
    font-family: "inter";
    src: url(/assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "inter";
}




.main {
  display: flex;
  flex: 1;
  /* min-height: 100vh; */
}
/* man hinh trai */
.left-scr {
  flex: 1;
}
.left-scr img {
  margin-top: 150px;
  padding-left: 200px;
}
/* man hinh phai */
.right-scr {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
}
.right-scr .head .lienKet {
  width: 38px;
  height: 36px;
  background-color: rgb(37, 193, 255);
  border-radius: 5px;
  border: 1px solid rgb(37, 193, 255);
}
.right-scr .head .lienKet img {
  width: 20px;
  margin-left: 6px;
  margin-top: 2px;
}
.right-scr .head {
  display: flex;
  gap: 5px;
  height: 50px;
  align-items: center;
}
.right-scr .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-scr .input input {
  width: 432px;
  height: 46px;
}
.right-scr button {
  width: 130px;
  height: 48px;
  color: white;
  background-color: rgb(39, 158, 255);
  border: 1px solid rgb(39, 158, 255);
  border-radius: 5px;
}
.right-scr .inputLogin {
  margin-top: 200px;
}

footer {
  background-color: rgb(37, 157, 255);
  display: flex;
  justify-content: space-between;
}
footer .titleFooter {
  margin-left: 20px;
}

footer .iconsFooter {
  display: flex;
  height: 15px;
  gap: 20px;
  margin-top: 18px;
  justify-content: space-between;
  margin-right: 55px;
}
