body {
  background-image: url("/assets/img/background.jpg");
  background-size: 100%;
  display: flex;
  flex-direction: row;
}
.left-scr {
  flex: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  gap: 50px;
}
.right-scr {
  flex: 1;
}

.input .name{
    display: flex;
    gap: 10px;
}

.right-scr .input{
    background-color: white;
    border-radius: 10px ;
    width: 492px;
    height: 554px;
    margin-top: 120px;
}

.input .name input{
    width: 163px;
    height: 36px;
    margin-left: 50px;
    margin-top: 80px;
}
.input .name label{
    margin-left: 60px;
}

.input .information{
    margin-top: 30px;
}
.input .information  input{
    width: 392px;
    height: 36px;
    margin-left: 50px;
}
.input .information label{
    margin-left: 60px;
}

.input button{
    margin-left: 80px;
    width: 80px;
    height: 38px;
    color: white;
    background-color: rgb(23, 96, 252);
    border: 1px solid rgb(23, 96, 252);
    border-radius: 5px ;
}

.right-scr .input p{
    padding-left: 80px;
}
